<script defer src="/scripts/Select_media.js"></script>
<link rel="stylesheet" href="/css/create_post_page.css">
<div class="panel">
<form action="/post/create" method="post" enctype="multipart/form-data">
  <h1>Create post</h1>
  <div>
    <label>type</label>
    <select name="type" class="input-field">
      <option value="noMedia">no media</option>
      <option value="image">image </option>
      <option value="video">video</option>
    </select>
  </div>
  <div id="mediaSource" class="input-field">
  </div>

<div id="description">
  <label>description</label>
  <textarea type="text" name="description" class="input-filed">
  </textarea>
</div>


  <input type="hidden" name="user" value="<%= currentUser.id %>">
  <button type="submit" class="btn"><h3>post</h3></button>

</form>
</div>