<h1>Create post</h1>
<form action="/post/create" method="post">
  <div>
    <label>description</label>
    <input type="text" name="description">
  </div>
  <br>
  <div>
    <label>type</label>
    <select name="type">
      <option value="noMedia">no media</option>
      <option value="image">image</option>
      <option value="video">video</option>
    </select>
  </div>
  <br>
  <input type="hidden" name="user" value="<%= currentUser.id %>">
  <button type="submit">post</button>

</form>