<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social App</title>
  <style>
    img{
      width: 100px;
      height: 100px;
    }
    .topnav {
 
  overflow: hidden;
}
.topnav a {
  float:right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
.topnav h1{
  float:left;
}
#pro{
  position: relative;
left: 83%;
}


  </style>
</head>
<body>
  <nav class="topnav">
  <h1><a href="/"><img src="/profilePic/SkyX.jpeg" alt="logo"></a></h1>
  <br>
  <% if(currentUser){ %>
    <img src="<%=currentUser.profilePic%>" alt="profilepicture" width="50px" id="pro">
    <h3 class="uname"><a href="/user/profile?id=<%=currentUser._id%>"><%= currentUser.userName %></a></h3>


    <a href="/user/logOut">LogOut</a>
    <a href="/post/create">Create Post</a>
  <% } %>
  <br>
  
  <% if(!currentUser){ %>
 
    <a href="/user/signup">SignUp</a>
    <a href="/user/signin">SignIn</a>
    <% } %>

  </nav>

  <%- body %>
</body>
</html>