<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social App</title>
  <link rel="stylesheet" href="/css/layout_page.css">
</head>
<body>
  <nav>
    <div id="topnav">
      <a href="/"><img id="logo" src="/images/lo.jpeg" alt="logo"></a>
      <% if(currentUser){ %>
        <a href="/user/profile?id=<%=currentUser._id%>" id="userLabel">
          <img src="/<%=currentUser.profilePic%>" alt="profile image" id="profileImg">
          <%= currentUser.userName %>
        </a>
        <a href="/post/create">Post</a>
      <% }else{ %>
        <a href="/user/signup">SignUp</a>
        <a href="/user/signin">SignIn</a>
        <% } %>
    </div>
    <a href="/user/logOut">LogOut</a>
  </nav>

  <%- body %>
</body>
</html>