#logo{
  width: 100px;
  height: 100px;
}
.topnav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#020820;
  overflow-x: hidden;
  padding-top: 20px;
}
.topnav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.topnav h1{
  float:left;
}
.pro{
  position: fixed;
  top:150px; 
}

