
body {
	line-height: 1.5;
	min-height: 101vh;
	font-family: "Be Vietnam Pro", sans-serif;
	align-items: center;
	justify-content: center;

}
.post-container{
  display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
	width: fit-content; 
	height: fit-content;
	background-color: #1b2028;
	border-radius: 16px;
	position: relative;
left: 400px;
	border: 3px solid transparent;
	background-clip: padding-box;
	text-align: center;
	color: #f1f3f3;
	background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
	&:after {
		content: "";
		display: block;
		top: -3px;
		left: -3px;
		bottom: -3px;
		right: -3px;
		z-index: -1;
		position: absolute;
		border-radius: 16px;
		background-image: linear-gradient(
			135deg,
			#752e7c,
			#734a58 20%,
			#1b2028 30%,
			#2c333e 100%
		);
	}
}



/* .imgOrVideo { 
	overflow: hidden;
	width: 175px;
	height: 175px;
	position: relative;
	
} */
.post-description{
  font-size: 1.5rem;
	font-weight: 600;
	margin-top: 1.5rem;
}
.like { 
  width: 10px;
  height: 10px;
}
.profile {
  position: fixed;
  left:300px
}
/* .img{
	width: 400px;
	height: 200px;
} */
