<h1>Profile page</h1>
<a href="/user/edit/?id=<%=currentUser._id%>">Edit Profile</a>
<div>
</div>

<hr>
<h2>my posts</h2>

<% posts.forEach((post)=>{ %>
<br>
  <div>
    <%= post.description %>
    <br>
    likes: <%= post.likes.length %>
    <br>
    <form action="/like?id=<%= post._id %>" method="post"><button>like</button></form>
  </div>
  <hr>
<% }) %>