<link rel="stylesheet" href="/css/signup_page.css">
<body>
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
        <h1 class="opacity">Sign UP</h1>
        <form action="/user/signup" method="POST" enctype="multipart/form-data">


  <input type="text" name="userName" placeholder="UserName" required>

  <input type="email" name="email" placeholder="email" required>

  <input type="password" name="password" placeholder="password" required>
<div class="profile-pic">
  <label class="-label" for="file">
    <span class="glyphicon glyphicon-camera"></span>
    <span>Change Image</span>
  </label>
  <input id="file" type="file" name="profilePic" style="display: none;" onchange="loadFile(event)"/>
    <img src="/images/prof.png" alt="image should be here " width="200" id="imgO"/> 

</div>
<button class="opacity" type="submit">Sign Up</button>
</form>

<div class="register-forget opacity">
  <a href="/user/signin">Already Signed In ? </a>
</div>
</div>
<div class="circle circle-two"></div>
</div>
<div class="theme-btn-container"></div>
</section>
</body>
<script>var loadFile = function (event) {
  var image = document.getElementById("imgO");
  image.src = URL.createObjectURL(event.target.files[0]);
};
</script>