
<h1>Sign in</h1>
<form action="/user/signin" method="POST">
  <div>
    <label>user name</label>
    <input type="text" name="userName">
  </div>
  <br>
  <div>
    <label>password</label>
    <input type="password" name="password">
  </div>
  <br>
 
<button type="submit">Sign in</button>

</form>